/* --------------------------------------------------------------------------------
 * Reset
 * ----------------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
html, body {
	min-height: 100%;
}
/* --------------------------------------------------------------------------------
 * Tools
 * ----------------------------------------------------------------------------- */
.fbox {
	overflow: hidden;
	zoom: 1;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
/* --------------------------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------------------- */
body {
	font-size: 20px;
}
body,
strong {
	font-family: "Helvetica Neue", Arial, sans-serif;
}
/* --------------------------------------------------------------------------------
 * Style
 * ----------------------------------------------------------------------------- */
#body {
	margin-top: 44px;
}











.strong {
	font-weight: bold;
}
.light {
	font-family: "HelveticaNeue-Light";
	font-size: 16px;
}
header,
.row {
	line-height: 44px;
	position: relative;
}
a {
	color: #45ADA8;
}
/* ------------------------------------------------------------------------------------------
 * Colors
 * --------------------------------------------------------------------------------------- */
.no-rain,
.time {
	color: #ADCAC8;
}

.light-rain {
	color: #0BA5AF;
}

.moderate-rain {
	color: #00B579;
}

.heavy-rain {
	color: #E85000;
}

.extreme-rain {
	color: #BC0000;
}

/* --------------------------------------------------------------------------------
 * Style
 * ----------------------------------------------------------------------------- */
.detailes {
	box-shadow: 0 -1px 0 0 rgba(0,0,0,.11) inset;
	height: 44px;
	padding: 0 11px;
	position: relative;
	z-index: 2;
}

.row .graphic-ammount {
	background: #E2F8F6;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

header {
		background: #45ada8 -webkit-linear-gradient(top, #29BDB6, #00A199);
		box-shadow: 
			0 1px 0 0 rgba(255,255,255,.5) inset,
			0 -1px 0 0 rgba(0,0,0,.3) inset,
			0 5px 5px rgba(0,0,0,.2);
		height: 44px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
}
h1 {
	color: white;
	font-size: 20px;
	text-align: center;
	text-shadow: 0 -1px 0px #0A6D68;
}

.button {
	background: rgba(0,0,0,.05);
	border-radius: 5px;
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, .3),
		0 0 0 1px rgba(0,0,0,0.3),
		0 2px 0 rgba(255, 255, 255, .3);
	text-shadow: 0 -1px 0 #378985;

}

header a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
header .button {
	color: white;
	font-size: 12px;
	height: 29px;
	padding: 0 9px;
	position: absolute;
	top: 6px;
}
#refreshForecast {
	right: 7px;	
}
#refreshCity {
	display: block;
	height: 31px;
	left: 0;
	padding: 5px 11px 6px 10px;
	position: absolute;
	top: 0;
	width: 23px;
}
#refreshCity.touched {
	background-color: rgba(0,0,0,.15);
}
#refreshForecast.touched {
	background-color: rgba(0,0,0,.15);
}
#forecast {
	background: white;
}
ul {
	margin-top: 44px;
}
li,
footer .row {
	font-size: 20px;
	overflow: hidden;
}
li .forecast {
	text-transform: capitalize;
}
li .time {
	float: right;
}

footer {
	background: white;
	color: #7F7F7F;
	margin-bottom: -44px;
	overflow: hidden;
	width: 100%;
}
footer .row {
	font-size: 12px;
}


/* ------------------------------------------------------------------------------------------
 * testing
 * --------------------------------------------------------------------------------------- */
#forecastSource {
	word-break: break-all;
	height: auto;
}

.divider {
	background-color: grey;
}
 
