/* --------------------------------------------------------------------------------
 * Reset
 * ----------------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
/* --------------------------------------------------------------------------------
 * Tools
 * ----------------------------------------------------------------------------- */
.fbox {
	overflow: hidden;
	zoom: 1;
}
/* --------------------------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------------------- */
body {
	font-size: 20px;
}
body,
strong {
	font-family: "Helvetica Neue", Arial, sans-serif;
}
.strong {
	color: black;
	font-weight: bold;
}
.light {
	color: #7F7F7F;
	font-family: "HelveticaNeue-Light"
}
header,
.row {
	line-height: 44px;
}
/* --------------------------------------------------------------------------------
 * Style
 * ----------------------------------------------------------------------------- */
.row {
	height: 44px;
	padding: 0 11px;
}

header {
		background: #45ada8 -webkit-linear-gradient(top, #29BDB6, #00A199);
		box-shadow: 
			0 1px 0 0 rgba(255,255,255,.3) inset,
			0 -1px 0 0 rgba(0,0,0,.3) inset,
			0 5px 5px rgba(0,0,0,.2);
		height: 44px;
		position: fixed;
		top: 0;
		width: 100%;
}
h1 {
	color: white;
	font-size: 20px;
	text-align: center;
	text-shadow: 0 -1px 0px #0A6D68;
}
ul {
	margin-top: 44px;
}
li {
	box-shadow: 0 -1px 0 0 rgba(0,0,0,.11) inset;
	font-size: 20px;
	overflow: hidden;
}
li .forecast {
	text-transform: capitalize;
}
li .time {
	float: right;
}

footer {
	font-size: 12px;
	margin-bottom: -44px;
}